/* General Styling */

@import url("https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Quicksand:wght@300..700&display=swap");

html,
body {
  min-width: 320px;
}

body {
  font-family: "42dot Sans", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #666;
}

h5,
h6 {
  font-size: 0.85rem;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.col-half {
  flex: 1 1 calc(50% - 1rem);
}

.col-third {
  flex: 0 1 calc(33.333% - 1.334rem);
}

.col-twothirds {
  flex: 1 1 calc(66.666% - 1rem);
}

.card {
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.tag {
  color: #9ca3af;
  font-size: 0.85rem;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  background-color: #f3f4f6;
  border-radius: 4px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}

@media (max-width: 1000px) {
  .col-third {
    flex: 1 1 100%;
  }
}

@media (max-width: 700px) {
  .wrapper {
    padding: 1rem;
  }

  .col-half {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  body {
    font-size: 0.9rem;
  }
}
