/* General Styling */

@import url("https://fonts.googleapis.com/css2?family=42dot+Sans:wght@300..800&family=Quicksand:wght@300..700&display=swap");

html,
body {
  min-width: 320px;
}

body {
  font-family: "42dot Sans", sans-serif;
  margin: 0;
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  color: #666;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.col-half {
  flex: 1 1 calc(50% - 1rem);
  min-width: 300px;
}

.col-third {
  flex: 0 1 calc(33.333% - 1.334rem);
  min-width: 300px;
}

.col-twothirds {
  flex: 1 1 calc(66.666% - 1rem);
  min-width: 300px;
}

@media (max-width: 700px) {
  .wrapper {
    padding: 1rem;
  }

  .col-half {
    flex: 1 1 100%;
    min-width: unset;
  }

  .col-third {
    flex: 1 1 100%;
    min-width: unset;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  body {
    font-size: 0.9rem;
  }
}
