{{ define "main" }}
<h1 class="single-title">{{ .Title }}</h1>
<article>
  <div class="meta">
    <p>{{ time.Format "January 2, 2006" .PublishDate }}</p>
    {{ if .Params.Tags }}
    <div class="tags single-tags">
      {{ range .Params.Tags }}
      <span class="tag">{{ . }}</span>
      {{ end }}
    </div>
    <div>
      <a href="{{ .CurrentSection.RelPermalink }}" class="back-link">
        &larr; Back to {{ .CurrentSection.Title }}
      </a>
    </div>
    {{ end }}
  </div>
  <div class="content">{{ .Content }}</div>
</article>
{{ end }}
