<nav class="navbar">
  <div class="nav-content">
    <a href="/" class="nav-logo">
      <img src="{{ absURL `images/Vanilla.svg` }}" alt="Vanilla.sh" />
      Vanilla.sh</a
    >
    <button class="hamburger" aria-label="Toggle menu">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="nav-links">
      {{ block "nav-links" . }}
      <a href="/">Home</a>
      <a href="/posts">Posts</a>
      {{ end }}
    </div>
  </div>
  <div class="nav-links-mobile">
    {{ block "nav-links-mobile" . }}
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    {{ end }}
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const hamburger = document.querySelector(".hamburger");
    const navLinksMobile = document.querySelector(".nav-links-mobile");
    const body = document.body;

    // Toggle menu
    hamburger.addEventListener("click", function (e) {
      e.stopPropagation();
      hamburger.classList.toggle("active");
      navLinksMobile.classList.toggle("active");
    });
  });
</script>
