<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ absURL `styles/style.css` }}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ absURL `styles/timeline.css` }}"
  />
  <link rel="stylesheet" type="text/css" href="{{ absURL `styles/nav.css` }}" />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ absURL `styles/footer.css` }}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ absURL `styles/features.css` }}"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ absURL `styles/list.css` }}"
  />
  <script defer src="{{ absURL `js/fontawesome.min.js`}}"></script>
  <script defer src="{{ absURL `js/solid.min.js`}}"></script>
  <script defer src="{{ absURL `js/brands.min.js`}}"></script>
  <title>Vanilla.sh | {{ .Title }}</title>
</head>
