<div class="list-grid-item">
  <h3>{{ .Title }}</h3>
  {{ if .PublishDate }}
  <div class="list-grid-item-date">
    {{ time.Format "January 2, 2006" .PublishDate }}
  </div>
  {{ end }} {{ if .Summary }}
  <div class="list-grid-item-summary">{{ .Summary }}</div>
  {{ end }}
  <div class="list-grid-item-link">
    <a href="{{ .RelPermalink }}"> Continue Reading </a>
  </div>
  {{ with .Params.tags }}
  <div class="list-grid-item-tags">
    {{ range $index, $tag := . }}
    <span class="tag">{{ $tag }}</span>
    {{ end }}
  </div>
  {{ end }}
</div>
